* {
	box-sizing: border-box;
}

html,
body,
h1,
h2 {
	padding: 0;
	margin: 0;
	font-family: 'Ubuntu Mono', monospace;
	color: rgb(187,187,187);
	font-size: 1em;
	font-weight: 100;
}

.section {
	background: transparent;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
}
.content-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index:3;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
#gifbg {
	background-image: url("./static/tv_static.gif");
	background-size: cover;
	background-position: center;
	z-index: 1;
}
.header-container{
	background: rgba(18, 18, 18, 0.8);
	padding: 1em;
	width: 100%;
}
.footer-container{
	background: rgba(18, 18, 18, 0.8);
	padding: 1em;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
}
.now-watching{
	display: flex;
	flex-direction: row;
	font-size: 0.75em;
	justify-content: space-between;
}
.src-text{
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 50vw;
	white-space: nowrap;
}
.src-img {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
	height: 30px;
	margin-right: 10px;
	width: 30px;
	background-image: url("./static/tv_static.gif");
}
.powered-by {
}
.powered-by img {
	width: 50px;
	opacity: 0.5;
}

.wrapper {
	word-break: break-word;
	width: 90%;
}

/***************
** CONSOLE
***************/
.terminal-input {
	background: rgba(0, 0, 0, 0);
	font-family: monospace;
	color: transparent;
	font-size: 14px;
	outline: none;
	border: none;
	-webkit-text-fill-color: rgb(187,187,187);
}
.console-carrot {
	vertical-align: middle;
	background: #00ff00;
	height: 15px;
	width: 8px;
	margin-left: -7px;
	display: inline-block;
	animation: blink 1s step-start 0s infinite;
}

::selection {
	background-color: #fff;
	color: #000;
}

@keyframes blink {
	50% {
		opacity: 0.0;
	}
}